<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./layout/head.ejs') %>

</head>
<body>
  <%- include('./layout/header.ejs') %>


 <div class="teamMember">
    <h2>Alex Pena</h2>
    <img src="/profilepics/alex-pena.jpeg">
    <p>I'm Alex, a full stack web developer at Code Fellows. I am also a Navy veteran and entreprenuer. Since leaving the Navy in 2011 I have owned and sold a handful of small businesses. I loved working with everyine on this project and Im looking forward to where this new journey as a software developer wil take me.</p>
</div>

<div class="teamMember">
  <h2>Alex Pedersen</h2>
  <img src="/profilepics/alexpedersen.png">
  <p>Full stack JavaScript engineer who loves to build new things and collaboratively solve complex problems. I have a background of culinary and love to cook. Working on this project has been loads of fun and I cannot wait to see what else the coding world has in store for me and my team! </p>
</div>

<div class="teamMember">
  <h2>Jesse Pena</h2>
  <img src="/profilepics/jesse.png">
  <p>I'm Alex, a full stack web developer at Code Fellows. I am also a Navy veteran and entreprenuer. Since leaving the Navy in 2011 I have owned and sold a handful of small businesses. I loved working with everyine on this project and Im looking forward to where this new journey as a software developer wil take me. </p>
</div>

<div class="teamMember">
  <h2>Corey DeJong</h2>
  <img src="/profilepics/corey.jpg">
  <p> Hello, my name is Corey DeJong
    and I am a software developer.
   
   I have 15 years of business experience, 
   primarily as a project manager where I have
    hired, trained and lead numerous teams. 
   
   Throughout my career, I have become passionate
    about collaborating with employees to solve problems
   that improves our customer experience.    
   
   I am looking for opportunities 
   where I can utilize my business experience
    and my software development skills 
   to lead teams that innovate solutions 
   that improve the customer experience..
   </p>
</div>

 </html>
