<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Truthy Video</title>
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/base.css">
    <link rel="stylesheet" href="./css/layouts.css">
    <link rel="stylesheet" href="./css/modules.css">

</head>
<body>

    <h1>Truthy Video</h1>
   
   <div class="navBar">
   <ul>
    <li><a href="/">Home</a></li>
    <li><a href="about">About Us</a></li>
    <li><a href="favorites">Favorites</a></li>
   </ul>
 </div>

 <div class="movieResult">
    <h2>Movie Three Title</h2>
    <img src="http://images.hellogiggles.com/uploads/2015/02/20/picture-of-pusheen-cat-unicorn-photo.gif">
    <p>Blog post text. Blog post text.Blog post   text. Blog post text.Blog post text.
      Blog post text.Blog post text. Blog post text. Blog post text. Blog </p>
      <br>
      <button type="submit" class="clsButton">Delete</button>
</div>




 </html>
