<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Truthy Video</title>
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/base.css">
    <link rel="stylesheet" href="./css/layouts.css">
    <link rel="stylesheet" href="./css/modules.css">

</head>
<body>

    <h1>Truthy Video</h1>
   
   <div class="navBar">
   <ul>
    <li><a href="/">Home</a></li>
    <li><a href="about">About Us</a></li>
    <li><a href="favorites">Favorites</a></li>
   </ul>
 </div>

 
 <form action="/search" method="get">
  <input class = "grid-item" type="text" name="search" placeholder="Enter a title or author" required>
</form>


    <div class="movieResult">
       <h2>Movie One Title</h2>
      <img src="http://images.hellogiggles.com/uploads/2015/02/20/picture-of-pusheen-cat-unicorn-photo.gif">
       <p>Blog post text. Blog post text.Blog post text. Blog post text. </p>
       <br>
      <button type="submit" class="clsButton">Add To Favorites</button>
    </div>
   
   <div class="movieResult">
       <h2>Movie Two Title</h2>
       <img src="http://images.hellogiggles.com/uploads/2015/02/20/picture-of-pusheen-cat-unicorn-photo.gif">
       <p>Blog post text. Blog post text.Blog post text. Blog post text.Blog post text.
         Blog post text.Blog post text. Blog post text. Blog post text. Blog post text.
         B </p>
         <br>
         <button type="submit" class="clsButton">Add To Favorites</button>
   </div>
   
   <div class="movieResult">
       <h2>Movie Three Title</h2>
       <img src="http://images.hellogiggles.com/uploads/2015/02/20/picture-of-pusheen-cat-unicorn-photo.gif">
       <p>Blog post text. Blog post text.Blog post   text. Blog post text.Blog post text.
         Blog post text.Blog post text. Blog post text. Blog post text. Blog </p>
         <br>
         <button type="submit" class="clsButton">Add To Favorites</button>
   </div>
     </body>
</html>